<section class="tour-card">
  <header class="tour-card__header skeleton_primary"></header>
  <div class="tour-card__content">
    <div class="tour-card__content__contry">
      <h3 class="skeleton_primary"></h3>
    </div>
    <div class="tour-card__content__destination">
      <h1 class="skeleton_primary"></h1>
    </div>
    <div class="tour-card__content__dates">
      <h3 class="skeleton_primary"></h3>
    </div>
    <div class="tour-card__content__daily">
      <h4 class="skeleton_primary"></h4>
    </div>
    <div class="tour-card__content__introduction">
      <p class="skeleton_primary"></p>
    </div>
  </div>
  <footer class="tour-card__footer">
    <div class="tour-card__footer__monetary">
      <h4 class="skeleton_primary"></h4>
      <h3 class="skeleton_primary"></h3>
    </div>
    <div class="tour-card__footer__actions">
      <button
        class="tour-card__footer__actions__button skeleton_primary"
        type="submit"
      ></button>
    </div>
  </footer>
</section>
