@import "layout";
@import "color";

.sidenav {
  &__navbar {
    position: fixed;
    height: 100vh;
    width: 250px;
  }

  &__content {
    min-height: 100vh;

    .container {
      padding-top: 70px;
    }
  }
}
