<header class="header">
  <section class="header__contact">
    <div class="header__contact__content">
      Phone: 055 - 19 - 3017 3100 - Email: travel_tour@traveltour.com
    </div>
  </section>
  <section class="header__navbar">
    <div class="header__navbar__content">
      <a href=""
        ><h1>Travel<span>Tour</span></h1></a
      >
      <nav>
        <ul>
          <li><a href="#">Promoções</a></li>
          <li><a href="#">Promoções</a></li>
          <li><a href="#">Promoções</a></li>
          <li><a href="#">Promoções</a></li>
          <li><a href="#">Promoções</a></li>
        </ul>
      </nav>
    </div>
  </section>
</header>
