@import "color";

a {
  color: $color-004;
}

.header {
  font-family: "Rajdhani", sans-serif;
  width: 100%;

  &__contact {
    background-color: $bg-003;
    height: 100px;
    justify-content: space-between;

    &__container {
      color: $color-001;
      display: flex;
      margin: auto;
      justify-content: space-between;
      width: 80%;

      &__utils {
        padding-top: 2em;

        &__separator {
          color: $color-002;
          padding: 0 1em;
        }
      }

      &__social__icons {
        color: $bg-002;
        font-size: 2em;
        padding-top: 0.8em;

        nav ul li {
          a {
            color: $color-001;
            padding: 0.2em;
          }

          a:hover {
            color: $color-002;
          }
        }
      }
    }
  }

  &__navbar {
    background-color: $bg-001;

    &__content {
      color: $color-004;
      display: flex;
      margin: auto;
      justify-content: space-between;
      width: 80%;

      h1 {
        font-size: 2em;
        padding: 10px;

        span {
          color: $color-002;
        }
      }

      nav {
        ul {
          font-weight: bold;
          margin: 0;
          padding: 0;
          text-transform: uppercase;

          li {
            a {
              display: block;
              padding: 1.3em;
              text-align: center;

              &:hover {
                background-color: $bg-002;
              }
            }
          }
        }
      }
    }
  }
}
